<div class="container-fluid ABOUT">
    <h3>SERVICE</h3>
</div>
<!-- service page starts -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-danger fw-bold text-center">OUR SERVICE</h2>
            <div class="line">
                <div class="st1">
                </div>
                <div class="st2">
                </div>
                <div class="st3">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service page ends -->

<!-- Service section starts -->
<section>
    <div class="container pt-5 mt-5">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center fw-bold text-danger">OUR SERVICES</h3>
          <div class="line">
            <div class="st1">
            </div>
            <div class="st2">
            </div>
            <div class="st3">
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 pb-4">
        <div class="col-lg-4">
          <div class="card text-center pb-3">
            <img src="/assets/images/service1.png" alt="" class="img-fluid" style="border-radius:20px">
  
            <h6 class="text-center text-dark fw-bold pt-2 pb-1">SCREEN REPAIR</h6>
            <p class="text-center fw-bold px-3">Our laptop screen repair service is quick. We are often able to replace a
              cracked or broken screen on the
              same day. Our laptop screen replacement service is convenient.</p>
            <div>
              <a href="tel:+916209424438" class="btn btn-light">call Us</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card pb-3">
            <img src="/assets/images/service2.png" alt="" class="img-fluid">
            <h6 class="text-center text-dark fw-bold pt-2 pb-1">OS INSTALLATION</h6>
            <p class="text-center fw-bold px-3">This home installation service helps get your Computer system back to an
              operational state by installing a fresh Operating System. If possible we will back-up and restore your
              important data files.</p>
            <div>
              <a href="tel:+916209424438" class="btn btn-light">call Us</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card pb-3">
            <img src="/assets/images/service3.png" alt="" class="img-fluid">
            <h6 class="text-center text-dark fw-bold pt-2 pb-1">SOFTWARE ASSISTANCE</h6>
            <p class="text-center fw-bold px-3">Software installation refers to the large scale distribution of software and application on an organizational level. Administrators are frequently bombarded with numerous software installation requests</p>
            <div>
              <a href="tel:+916209424438" class="btn btn-light">call Us</a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="row mb-3 pb-4">
        <div class="col-lg-4">
          <div class="card text-center pb-3">
            <img src="/assets/images/service4.png" alt="" class="img-fluid" style="border-radius:20px">
  
            <h6 class="text-center text-dark fw-bold pt-2 pb-1">SCREEN REPAIR</h6>
            <p class="text-center fw-bold px-3">Our laptop screen repair service is quick. We are often able to replace a
              cracked or broken screen on the
              same day. Our laptop screen replacement service is convenient.</p>
            <div>
              <a href="tel:+916209424438" class="btn btn-light">call Us</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card pb-3">
            <img src="/assets/images/service5.png" alt="" class="img-fluid">
            <h6 class="text-center text-dark fw-bold pt-2 pb-1">OS INSTALLATION</h6>
            <p class="text-center fw-bold px-3">This home installation service helps get your Computer system back to an
              operational state by installing a fresh Operating System. If possible we will back-up and restore your
              important data files.</p>
            <div>
              <a href="tel:+916209424438" class="btn btn-light">call Us</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card pb-3">
            <img src="/assets/images/service6.png" alt="" class="img-fluid">
            <h6 class="text-center text-dark fw-bold pt-2 pb-1">SOFTWARE ASSISTANCE</h6>
            <p class="text-center fw-bold px-3">Software installation refers to the large scale distribution of software and application on an organizational level. Administrators are frequently bombarded with numerous software installation requests</p>
            <div>
              <a href="tel:+916209424438" class="btn btn-light">call Us</a>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </section>
  <!-- Service section ends -->
<!-- enquiery form section starts -->
<div class="enq">
  <!-- Button trigger modal -->
  <button type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal"
    style="border:none;background-color:inherit">

    <img src="/assets/images/feedback.png" alt="">
  </button>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Enquiery Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">

            <input type="text" name="name" placeholder="Name" class="form-control mt2">
            <input type="email" name="name" placeholder="Email" class="form-control mt-2">
            <input type="tel" name="name" placeholder="Mobile No" class="form-control mt-2">
            <textarea placeholder="Message" name="" id="" cols="10" rows="3" class="form-control mt-2 mb-3"></textarea>
            <div class="">
              <a href="" class="btn" id="sub">Submit</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- enquiery form section ends -->

<!-- whatsapp section starts -->
<div class="whp">
  <a href=""><img src="/assets/images/whatsapp.png" alt="" class="img-fluid" width="8%"></a>
</div>
<!-- whatsapp section ends -->
<!-- call icon starts -->
<i class="fa-sharp fa-solid fa-phone call"></i>
<!-- call icon ends -->



<!-- footer section starts -->
<footer>
  <div class="container pt-4 pb-5">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-light fw-bold">About Us</h5>
        <div class="stline mt-3">

        </div>
        <p style="word-break:break-all;word-spacing: 7px;" class="pt-3 text-light">We, Deep Computer & Services,
          situated at Andheri
          East, Mumbai, Maharashtra, India since 2012 are leading e-retailer and retailer committed to becoming the most
          loved and trusted store for all computer, laptops and other devices and their repairing services, with a focus
          on computer components by providing a great shopping experience, rapid delivery, tech customer service and
          provide the best warranty support. We have well trained experts who provide best in class services.
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="text-light fw-bold">Quick Links</h5>
        <div class="stline mt-3">
        </div>
        <ul class="text-light list-unstyled Qlink">
          <li>Home</li>
          <li> About</li>
          <li> Services</li>
          <li> Gallary</li>
          <li> Contact Us</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-light fw-bold">Contact Us</h5>
        <div class="stline mt-3">
        </div>
        <div class="text-light">
          <p style="font-size:14px;line-height: 30px;">Office 1 : Andheri Kurla Road,Next to Indian Oil
            Pump, Opposite Leela Business Park, Andheri East,
            Mumbai, Maharashtra 400059.
          <div class="hrline"></div>
          <p style="font-size:14px;line-height: 30px;">Office 2 : Bachraj Landmark F-1205, Global City, Avenue L-3, Opp.
            Club One, Virar (West),Maharashtra - 401303.</p>
          <div class="hrline"></div>

          <div class="callus">
            <p>Call us</p>
            <p><a href="" class="text-decoration-none text-light">+91 9768358238</a></p>
          </div>
          <div class="hrline"></div>
          <div class="callus">
            <p>Call us</p>
            <p><a href="" class="text-decoration-none text-light">+91 8898500703</a></p>
          </div>
          <div class="hrline"></div>
          <div class="callus">
            <p>Mail us</p>
            <p><a href="" class="text-decoration-none text-light">sales@deepcomputer.co.in
              </a></p>
          </div>
          <div class="hrline"></div>



          <ul class="list-unstyled d-flex mt-3">
            <li><a href="" class="px-2"><i class="fa-brands fa-facebook-f text-danger icon"></i></a></li>
            <li><a href="" class="px-2"><i class="fa-brands fa-twitter text-danger icon"></i></a></li>
            <li><a href="" class="px-2"><i class="fa-brands fa-linkedin-in text-danger icon"></i></a></li>
            <li><a href="" class="px-2"><i class="fa-brands fa-instagram text-danger icon"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer section starts -->
<!-- mini footer -->
<div class="footer" style="font-weight:450">
  <p>© 2022 Deep Computer & Service. All Rights Reserved | Design by Digital <a href=""
      class="text-danger text-decoration-none"> Vision </a>Technology Pvt Ltd <span class="text-primary">G</span><span
      class="text-danger">o</span>
    <span class="text-warning">o</span> <span class="text-primary">g</span>
    <span class="text-primary">l</span> <span class="text-danger">e</span>
    Partner
  </p>
</div>

<!-- small screen footer section starts -->
<div class="smfooter">
  <a href="" class="btn ftbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Enquiry Now</a>
  <a href="" class="btn ftbtn">Call Now</a>
</div>

<!-- small screen footer section ends -->