<header class="">
  <div class="container">
    <div class="row">

      <div class="col-lg-8">
        <div class="email-header text-center">
          <i class="fa-regular fa-envelope px-2 text-light mt-2"></i>
          <a href="mailto:amd14832@gmail.com">sales@deepcomputer.co.in</a>
          <span class="text-light px-4">|</span>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="call-header text-center">
          <i class="fa-sharp fa-solid fa-phone text-light px-3"></i>
          <a href="tel:+916209424438" class="">Call Us:+916209424438</a>
        </div>
      </div>

    </div>
  </div>
</header>
<!-- header section ends -->
<!-- nav section starts -->
<nav class="navbar navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="/assets/images/logo.jpg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto d-flex">
        <li class="nav-item active">
          <a class="nav-link active" routerLink="home" routerLinkActive="active" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="about" routerLinkActive="active">ABOUT</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" routerLink="service" routerLinkActive="active">SERVICE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallary" routerLinkActive="active">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active">CONTACT</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- nav section ends -->

<router-outlet></router-outlet>