<!-- caresol section starts -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
      aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
      aria-label="Slide 5"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/slider1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/slider2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/slider3.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/slider4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/slider5.png" class="d-block w-100" alt="...">
    </div>
  </div>


</div>
<!-- caresol section ends -->

<!-- enquiery form section starts -->
<div class="enq">
  <!-- Button trigger modal -->
  <button type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal"
    style="border:none;background-color:inherit">

    <img src="/assets/images/feedback.png" alt="">
  </button>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Enquiery Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group">

            <input type="text" name="name" placeholder="Name" class="form-control mt2">
            <input type="email" name="name" placeholder="Email" class="form-control mt-2">
            <input type="tel" name="name" placeholder="Mobile No" class="form-control mt-2">
            <textarea placeholder="Message" name="" id="" cols="10" rows="3" class="form-control mt-2 mb-3"></textarea>
            <div class="">
              <a href="" class="btn" id="sub">Submit</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- enquiery form section ends -->

<!-- whatsapp section starts -->
<div class="whp">
  <a href=""><img src="/assets/images/whatsapp.png" alt="" class="img-fluid" width="8%"></a>
</div>
<!-- whatsapp section ends -->
<!-- call icon starts -->
<i class="fa-sharp fa-solid fa-phone call"></i>
<!-- call icon ends -->
<!-- marquee section starts -->
<div class="scroll">
  <marquee behavior="" direction="">
    <h5 class="fw-bold">
      WELCOME TO DEEP COMPUTER & SERVICES
    </h5>
  </marquee>
</div>
<!-- marquee section ends -->

<!-- About section starts -->
<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="text-danger fw-bold text-center">ABOUT US</h2>
      <div class="line">
        <div class="st1">
        </div>
        <div class="st2">
        </div>
        <div class="st3">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-7">
      <p>We, Deep Computer & Services, situated at Andheri East, Mumbai, Maharashtra, India since 2011 are leading
        e-retailer and retailer committed to becoming the most loved and trusted store for all computer, laptops</p>
      <p>and other devices and their repairing services, with a focus on computer components by providing a great
        shopping experience, rapid delivery, tech customer service and provide the best warranty support. We have well
        trained experts who provide best in class services.</p>

      <p>

        At Deep Computer & Services, there is a solution for all your laptop troubles. We are experts at providing
        Laptop services. We have been in this business for almost 11 years.
      </p>
    </div>
    <div class="col-lg-5">
      <div class="img">
        <img src="/assets/images/about.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<!-- About section ends -->

<!-- Service section starts -->
<section class="">
  <div class="container pt-5 mt-5">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center fw-bold text-danger">OUR SERVICES</h3>
        <div class="line">
          <div class="st1">
          </div>
          <div class="st2">
          </div>
          <div class="st3">
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3 pb-4 pt-5">
      <div class="col-lg-4">
        <div class="card text-center pb-2">
          <img src="/assets/images/service1.png" alt="" class="img-fluid">

          <h6 class="text-center text-dark fw-bold pt-2 pb-1">SCREEN REPAIR</h6>
          <p class="text-center fw-bold px-3 pb-4">Our laptop screen repair service is quick. We are often able to
            replace a
            cracked or broken screen on the
            same day. Our laptop screen replacement service is convenient.</p>
          <div>
            <a href="tel:+916209424438" class="btn btn-light">call Us</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card pb-3">
          <img src="/assets/images/service2.png" alt="" class="img-fluid">
          <h6 class="text-center text-dark fw-bold pt-2 pb-1">OS INSTALLATION</h6>
          <p class="text-center fw-bold px-3">This home installation service helps get your Computer system back to an
            operational state by installing a fresh Operating System. If possible we will back-up and restore your
            important data files.</p>
          <div>
            <a href="tel:+916209424438" class="btn btn-light">call Us</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card pb-3">
          <img src="/assets/images/service3.png" alt="" class="img-fluid">
          <h6 class="text-center text-dark fw-bold pt-2 pb-1">SOFTWARE ASSISTANCE</h6>
          <p class="text-center fw-bold px-3">Software installation refers to the large scale distribution of software
            and application on an organizational level. Administrators are frequently bombarded with numerous software
            installation requests</p>
          <div>
            <a href="tel:+916209424438" class="btn btn-light">call Us</a>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row mb-3 pb-4">
      <div class="col-lg-4">
        <div class="card text-center pb-3">
          <img src="/assets/images/service4.png" alt="" class="img-fluid">

          <h6 class="text-center text-dark fw-bold pt-4 pb-1">ANNUAL MAINTENANCE CONTRACTS</h6>
          <p class="text-center fw-bold px-3 pb-2">Keeping business computer systems and network at peak performance through
            regular scheduled maintenance for all systems and equipment Iis our specialization</p>
          <div>
            <a href="tel:+916209424438" class="btn btn-light">call Us</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card pb-3">
          <img src="/assets/images/service5.png" alt="" class="img-fluid">
          <h6 class="text-center text-dark fw-bold pt-2 pb-1">DISPLAY PROBLEM</h6>
          <p class="text-center fw-bold px-3">The inverter board converts the low voltage your laptop uses, into higher
            voltage required by the long bulb that lights up the LCD screen. If the inverter board or bulb fail, you
            will experience the problem of a dimmed display</p>
          <div>
            <a href="tel:+916209424438" class="btn btn-light">call Us</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card pb-3">
          <img src="/assets/images/service6.png" alt="" class="img-fluid">
          <h6 class="text-center text-dark fw-bold pt-2 pb-1">SMPS REPLACEMENT</h6>
          <p class="text-center fw-bold px-3">This can cause overheating of your SMPS and it also possesses a serious
            risk to your computer components that are connected to the SMPS. So it is better to replace a SMPS whose fan
            is not working properly or to its full capacity.</p>
          <div>
            <a href="tel:+916209424438" class="btn btn-light">call Us</a>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</section>
<!-- Service section ends -->

<!-- why us section  starts-->
<div class="container mt-5 pt-5">
  <div class="row pt-5 mt-3">
    <div class="col-md-12 mb-5">
      <h3 class="text-center text-danger fw-bold">WHY CHOOSE US</h3>
      <div class="line">
        <div class="st1">
        </div>
        <div class="st2">
        </div>
        <div class="st3">
        </div>
      </div>

    </div>
  </div>
  <div class="row pb-4">
    <div class="col-lg-4 col-md-6">
      <div class="d-flex mt-3">
        <div class="icon">
          <a href=""><img src="/assets/images/expimg.png" class="" width="60px" alt=""></a>

        </div>
        <div class="text px-3 ">
          <h5>Experienced & professional.</h5>
          <span>We make sure our cleaning service is at the top of cleaning service, try and feel the
            perfectness!</span>
        </div>
      </div>
      <div class="d-flex mt-3">
        <div class="icon">
          <a href=""><img src="/assets/images/expimg.png" class="" width="60px" alt=""></a>

        </div>
        <div class="text px-3">
          <h5>Experienced & professional.</h5>
          <span>We make sure our cleaning service is at the top of cleaning service, try and feel the
            perfectness!</span>
        </div>
      </div>
      <div class="d-flex mt-3">
        <div class="icon">
          <a href=""><img src="/assets/images/expimg.png" class="" width="60px" alt=""></a>

        </div>
        <div class="text px-3">
          <h5>Experienced & professional.</h5>
          <span>We make sure our cleaning service is at the top of cleaning service, try and feel the
            perfectness!</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <img src="/assets/images/why.png" alt="" height="220">
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="d-flex mt-3">
        <div class="icon">
          <a href=""><img src="/assets/images/expimg.png" class="" width="60px" alt=""></a>

        </div>
        <div class="text px-3">
          <h5>Experienced & professional.</h5>
          <span>We make sure our cleaning service is at the top of cleaning service, try and feel the
            perfectness!</span>
        </div>
      </div>
      <div class="d-flex mt-3">
        <div class="icon">
          <a href=""><img src="/assets/images/expimg.png" class="" width="60px" alt=""></a>

        </div>
        <div class="text px-3">
          <h5>Experienced & professional.</h5>
          <span>We make sure our cleaning service is at the top of cleaning service, try and feel the
            perfectness!</span>
        </div>
      </div>
      <div class="d-flex mt-3">
        <div class="icon">
          <a href=""><img src="/assets/images/expimg.png" class="" width="60px" alt=""></a>

        </div>
        <div class="text px-3">
          <h5>Experienced & professional.</h5>
          <span>We make sure our cleaning service is at the top of cleaning service, try and feel the
            perfectness!</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- why us section ends-->
<section>
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="service text-center pt-3">
          <i class="fa-sharp fa-regular fa-clock text-warning fw-bold" style="font-size:22px"></i>
          <h4 class="pt-3 pb-2">BEST SERVICES</h4>
          <H6 class="fw-bold">24x7</H6>
          <p class="pb-2">Services</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="service text-center pt-3">
          <i class="fa-solid fa-phone text-warning fw-bold" style="font-size:22px"></i>
          <h4 class="pt-3 pb-2">ANY QUESTIONS</h4>
          <H6 class="fw-bold">Call Us Now</H6>
          <p class="pb-2">
            <a href="tel:+916209424438" class="text-decoration-none">+91 6209424438</a>
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="service text-center pt-3">
          <i class="fa-regular fa-envelope text-warning fw-bold" style="font-size:22px"></i>
          <h4 class="pt-3 pb-2">MAIL US</h4>
          <H6 class="fw-bold">Enquire Now</H6>
          <p class="pb-2">
            <a href="mailto:amd14832@gmail.com" class="text-decoration-none">amd14832@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- employee section starts -->

<div class="client">
  <div class="container pt-5 pb-5 mb-4">
    <div class="row">
      <div class="col-md-4">
        <div class="exp text-center">
          <img src="/assets/images/expimg.png" alt="" class="img-fluid" width="10%">
          <h2 class="pt-5 pb-2 text-light">11</h2>
          <h6 class="pb-2 text-light">Years Experience</h6>
        </div>
      </div>

      <div class="col-md-4">
        <div class="exp text-center">
          <img src="/assets/images/expimg.png" alt="" class="img-fluid" width="10%">
          <h2 class="pt-5 pb-2 text-light">10000</h2>
          <h6 class="pb-2 text-light">Happy Client</h6>
        </div>
      </div>

      <div class="col-md-4">
        <div class="exp text-center">
          <img src="/assets/images/expimg.png" alt="" class="img-fluid" width="10%">
          <h2 class="pt-5 pb-2 text-light">20</h2>
          <h6 class="pb-2 text-light">Our Employee</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- client review section starts -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-danger text-center fw-bold">OUR CLIENT REVIEWS</h2>
      <div class="line">
        <div class="st1">
        </div>
        <div class="st2">
        </div>
        <div class="st3">
        </div>
      </div>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="review">
            <div class="container mt-5 mb-5">
              <div class="row">
                <div class="col-lg-4">
                  <div class="client-review text-center">
                    <i class="fa-regular fa-user text-primary"></i>
                    <h3 class="text-primary">Aajam</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Saepe expedita laboriosam ut quis labore dolore?</p>
                    <ul class="list-unstyled d-flex text-center" style="justify-content:center">
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="client-review text-center">
                    <i class="fa-regular fa-user text-primary"></i>
                    <h3 class="text-primary">Arman</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Saepe expedita laboriosam ut quis labore dolore?</p>
                    <ul class="list-unstyled d-flex text-center" style="justify-content:center">
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4 text-center">
                  <div class="client-review text-center">
                    <i class="fa-regular fa-user text-primary"></i>
                    <h3 class="text-center text-primary">Muskan</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Saepe expedita laboriosam ut quis labore dolore?</p>
                    <ul class="list-unstyled d-flex text-center" style="justify-content:center">
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="carousel-item">

          <div class="review">
            <div class="container mt-5 mb-5">
              <div class="row">
                <div class="col-lg-4">
                  <div class="client-review text-center">
                    <i class="fa-regular fa-user text-primary"></i>
                    <h3 class="text-primary">Aajam</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Saepe expedita laboriosam ut quis labore dolore?</p>
                    <ul class="list-unstyled d-flex text-center" style="justify-content:center">
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="client-review text-center">
                    <i class="fa-regular fa-user text-primary"></i>
                    <h3 class="text-primary">Arman</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Saepe expedita laboriosam ut quis labore dolore?</p>
                    <ul class="list-unstyled d-flex text-center" style="justify-content:center">
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4 text-center">
                  <div class="client-review text-center">
                    <i class="fa-regular fa-user text-primary"></i>
                    <h3 class="text-center text-primary">Muskan</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Saepe expedita laboriosam ut quis labore dolore?</p>
                    <ul class="list-unstyled d-flex text-center" style="justify-content:center">
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="carousel-item">

          <div class="review">
            <div class="container mb-5 mt-5">
              <div class="row">
                <div class="col-lg-4">
                  <div class="client-review text-center">
                    <i class="fa-regular fa-user text-primary"></i>
                    <h3 class="text-primary">Aajam</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Saepe expedita laboriosam ut quis labore dolore?</p>
                    <ul class="list-unstyled d-flex text-center" style="justify-content:center">
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="client-review text-center">
                    <i class="fa-regular fa-user text-primary"></i>
                    <h3 class="text-primary">Arman</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Saepe expedita laboriosam ut quis labore dolore?</p>
                    <ul class="list-unstyled d-flex text-center" style="justify-content:center">
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-4 text-center">
                  <div class="client-review text-center">
                    <i class="fa-regular fa-user text-primary"></i>
                    <h3 class="text-center text-primary">Muskan</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Saepe expedita laboriosam ut quis labore dolore?</p>
                    <ul class="list-unstyled d-flex text-center" style="justify-content:center">
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                      <li><i class="fa-solid fa-star text-warning"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


  </div>
</div>
<!-- client review section ends -->

<!-- service partner section starts -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center text-danger fw-bold mb-5">OUR SERVICE PARTNER</h3>
    </div>
  </div>
  <div class="row">
    <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container mb-4 mt-4">
            <div class="row">
              <div class="col-lg-4">
                <img src="/assets/images/b1.png" alt="" class="img-fluid" style="border:5px solid aqua">
              </div>
              <div class="col-lg-4">
                <img src="/assets/images/b4.png" alt="" class="img-fluid" style="border:5px solid aqua">
              </div>
              <div class="col-lg-4">
                <img src="/assets/images/b5.png" alt="" class="img-fluid" style="border:5px solid aqua">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container mb-4 mt-4">
            <div class="row">
              <div class="col-lg-4">
                <img src="/assets/images/b1.png" alt="" class="img-fluid" style="border:5px solid aqua">
              </div>
              <div class="col-lg-4">
                <img src="/assets/images/b12.png" alt="" class="img-fluid" style="border:5px solid aqua">
              </div>
              <div class="col-lg-4">
                <img src="/assets/images/b3.png" alt="" class="img-fluid" style="border:5px solid aqua">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container mb-4 mt-4">
            <div class="row">
              <div class="col-lg-4">
                <img src="/assets/images/b5.png" alt="" class="img-fluid" style="border:5px solid aqua">
              </div>
              <div class="col-lg-4">
                <img src="/assets/images/b9.png" alt="" class="img-fluid" style="border:5px solid aqua">
              </div>
              <div class="col-lg-4">
                <img src="/src/assets/images/b12.png" alt="" class="img-fluid" style="border:5px solid aqua">
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- service partner section ends -->

<!-- footer section starts -->
<footer>
  <div class="container pt-4 pb-5">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-light fw-bold">About Us</h5>
        <div class="stline mt-3">

        </div>
        <p style="word-break:break-all;word-spacing: 7px;" class="pt-3 text-light">We, Deep Computer & Services,
          situated at Andheri
          East, Mumbai, Maharashtra, India since 2012 are leading e-retailer and retailer committed to becoming the most
          loved and trusted store for all computer, laptops and other devices and their repairing services, with a focus
          on computer components by providing a great shopping experience, rapid delivery, tech customer service and
          provide the best warranty support. We have well trained experts who provide best in class services.
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="text-light fw-bold">Quick Links</h5>
        <div class="stline mt-3">
        </div>
        <ul class="text-light list-unstyled Qlink">
          <li>Home</li>
          <li> About</li>
          <li> Services</li>
          <li> Gallary</li>
          <li> Contact Us</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-light fw-bold">Contact Us</h5>
        <div class="stline mt-3">
        </div>
        <div class="text-light">
          <p style="font-size:14px;line-height: 30px;">Office 1 : Andheri Kurla Road,Next to Indian Oil
            Pump, Opposite Leela Business Park, Andheri East,
            Mumbai, Maharashtra 400059.
          <div class="hrline"></div>
          <p style="font-size:14px;line-height: 30px;">Office 2 : Bachraj Landmark F-1205, Global City, Avenue L-3, Opp.
            Club One, Virar (West),Maharashtra - 401303.</p>
          <div class="hrline"></div>

          <div class="callus">
            <p>Call us</p>
            <p><a href="" class="text-decoration-none text-light">+91 9768358238</a></p>
          </div>
          <div class="hrline"></div>
          <div class="callus">
            <p>Call us</p>
            <p><a href="" class="text-decoration-none text-light">+91 8898500703</a></p>
          </div>
          <div class="hrline"></div>
          <div class="callus">
            <p>Mail us</p>
            <p><a href="" class="text-decoration-none text-light">sales@deepcomputer.co.in
              </a></p>
          </div>
          <div class="hrline"></div>



          <ul class="list-unstyled d-flex mt-3">
            <li><a href="" class="px-2"><i class="fa-brands fa-facebook-f text-danger icon"></i></a></li>
            <li><a href="" class="px-2"><i class="fa-brands fa-twitter text-danger icon"></i></a></li>
            <li><a href="" class="px-2"><i class="fa-brands fa-linkedin-in text-danger icon"></i></a></li>
            <li><a href="" class="px-2"><i class="fa-brands fa-instagram text-danger icon"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer section starts -->
<!-- mini footer -->
<div class="footer" style="font-weight:450">
  <p>© 2022 Deep Computer & Service. All Rights Reserved | Design by Digital <a href=""
      class="text-danger text-decoration-none"> Vision </a>Technology Pvt Ltd <span class="text-primary">G</span><span
      class="text-danger">o</span>
    <span class="text-warning">o</span> <span class="text-primary">g</span>
    <span class="text-primary">l</span> <span class="text-danger">e</span>
    Partner
  </p>
</div>

<!-- small screen footer section starts -->
<div class="smfooter">
  <a href="" class="btn ftbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Enquiry Now</a>
  <a href="" class="btn ftbtn">Call Now</a>
</div>

<!-- small screen footer section ends -->

